/* LOGIN PAGE */
*{
    margin:0;
}
body{
    background-color:#fff;
}
.login-main{
    display: flex;
}

.column{
    flex:50%;
    height: 100vh;
}

.login-wrapper{
    background-color:#851c2a;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.login-wrapper h1{
    color: #fff;
}

.login-wrapper img{
    height:auto;
    width:300px;
    border-radius: 100%;
    display:block;
}

.form-control{
    width: 500px;
}


/* Centering forms */
.col{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Login Button */
.login{
    display:flex;
    justify-content: center;
    align-items: center;
}

.btn-primary{
    background-color: #851c2a;
    width:200px;
    font-size: bold;
}







